@charset "utf-8";
/* CSS Document */

div#menubar1{
	padding: 24px;
}
div#menubar1 > a{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:17px;
	background:#333;
	padding: 12px 24px;
	color: #999;
	margin-right: 10px;
	text-decoration:none;
	border-radius:3px;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
div#menubar1 > a:hover{
	background:#36F;
	color:#FFF;
	z-index:2;
}